@model PropertyForSale.Models.AdvertModel

<div class="well">
    <table>
        <tr>
            <td>
                @Html.Partial("_ImageAdPartial", @Model.Photos.FirstOrDefault().Path)
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <h3>@Html.ActionLink(Model.Name, "Ad", new { AdId = Model.ID })</h3>
                        </td>
                        <td>
                            @Html.Partial("_EditButtonPartial")
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 150px;"> 
                            <h3>Type: @Model.AdType.Name</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>
                                <span class="pull-right label label-primary">@Model.Price.ToString("# $")</span>
                            </h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>