@model PropertyForSale.Models.AdvertModel

<div class="panel panel-default">
    <div class="ad-price-container panel-body row">
        <div class="col-md-6">
            <img class="ad-photo" src="@Model.Photos.FirstOrDefault().Path" alt="advert image" style="margin-right: 20px;">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="adname">
                        @Html.ActionLink(Model.Name, "Ad", new { AdId = Model.ID })
                    </h2>
                </div>
                <div class="col-md-3">
                    @Html.Partial("_EditButtonPartial")
                </div>
            </div>
            <div class="col-md-12">
                <h4>Type: @Model.AdType.Name</h4>
            </div>
        </div>
        <div class="ad-price">
            <h1>
                <span class="label label-success">@Model.Price.ToString("# $")</span>
            </h1>
        </div>
    </div>
</div>

