@using PropertyForSale.Models
@using PropertyForSaleDomainModel.Enums
@model AdViewModel

@{
    ViewBag.Title = "Ad";
}
<div class="well" >
    <table>
        <tr>
            <td>
                <h1>@Model.Name</h1>
                <h4>Status: 
                @switch (Model.Status)
                {
                    case AdStatus.Active:
                        <span class="label label-success">@Model.Status.ToString()</span>
                        break;
                    case AdStatus.Pause:
                        <span class="label label-warning">@Model.Status.ToString()</span>
                        break;
                    case AdStatus.Stop:
                        <span class="label label-danger">@Model.Status.ToString()</span>
                        break;
                }
                </h4>
                <p>Type: @Model.Type</p>
                @if (Model.Photos.Count > 0)
                {
                    foreach (PhotoModel p in Model.Photos)
                    {
                        <img src="~/Images/Ad/@p.Path" width="500" alt="advert image">
                    }
                }
                else
                {
                <img src="~/Images/Ad/defaultAdImage.jpg" width="500" alt="advert image">
                }
                <p>@Model.Description</p>
                <h1>
                    <span class="label label-primary">@Model.Price.ToString("# $")</span>
                </h1>
            </td>            
            <td>
                <blockquote>
                    <h3>Contacts:</h3>
                    @if (Model.Status == AdStatus.Active)
                    {
                    <p>Name: @Model.UserName</p>
                    <p>Phone number: @Model.PhoneNumber</p>
                    }
                    else
                    {
                        <p>Advertisement is paused</p>
                    }
                </blockquote>
            </td>            
        </tr>
    </table>
</div>

